1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

values can be integer or string which will be:

'hello'
-87.8
 6
 
expressions will be mathematical operators which will be:

*
-
/
+

2. What is the difference between string and variable?

String: A string is a literal text string, i.e. "hello".


variable: A variable is something that stores data - it can store a string, int, float, class, etc.

A = "Hello"


A is variable that can store a data "Hello" as string.

3. Describe three different data types.

1) Integer: Integer data type contain whole numbers i.e 01234, This value is represented by int class.

In [2]:
A = 1255
type(A)

int

2) Boolean: Boolean data type contain True (for Yes) and False (for NO) value.
   Note – True and False with capital ‘T’ and ‘F’ are valid booleans otherwise python will throw an error.

In [1]:
B = True
print(type(B))

<class 'bool'>


3) Float: This type of data type contain decimal numbers or fraction values i.e 22.2,56.5

In [2]:
c = 55.5
print(type(c))

<class 'float'>

4. What is an expression made up of? What do all expressions do?

An expression is made up of operators and operands. An operators is a special symbol that perform the logical computation on the operands 
And operand is an object that is operated on.

The expression in python produces result to a single value after being 
interpreted by python interpreter

In [3]:
x = 12     # IT is an statement
y = x+10   # It is an expression 
print(y)   # IN this x and 10 is a operands and '+' is a operator

22

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

An expression evaluate(that is, reduce) to a single value but, statement does not as we see in above example.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

The bacon variable is set to 22. The bacon + 1 expression does not reassign the value in bacon (that would need an assignment statement: bacon = bacon + 1).

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

The value of following two term would we same because both of them give the same output as see below

In [5]:
a = 'spam' + 'spamspam'
b = 'spam' * 3

In [8]:
print(a)
print(b)

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

Because variable name cannot being with a number as seen below

In [24]:
eggs = 10
print(eggs)

10

In [27]:
100t = 10
print(100ten)

SyntaxError: invalid decimal literal (1042569322.py, line 1)

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

The three functions can be used to get the integer, floating-point number, 
or string version of a value is  int() , float() , and str( )

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

This expression cause an error because string cannot concatenated with integer(99), 
by converting a 99 into str using single or double inverted commas be can fix it.

In [36]:
'I have eaten' +  99  + 'burritos.'

TypeError: can only concatenate str (not "int") to str

In [35]:
'I have eaten' +  " 99 "  + 'burritos.'

'I have eaten 99 burritos.'