1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [3]:
birth_year = 1995  
years_list = list(range(birth_year, birth_year + 6))
print(years_list)

[1995, 1996, 1997, 1998, 1999, 2000]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [17]:
#birth_year aga 0 = 1 

#third_birthday age 3 = 4 year

birth_year = 1995  
years_list = list(range(birth_year, birth_year + 6))
print(years_list[3])

1998

3.In the years list, which year were you the oldest?

In [18]:
print(years_list[5])

2000

4. Make a list called things with these three strings as elements: mozzarella, cinderell,
salmonella.

In [51]:
things =(["mozzarella" , "cinderell" , "salmonella"])
things

['mozzarella', 'cinderell', 'salmonella']

5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [54]:
for i in things:
    print(i.capitalize())
things
#Capitalize() will not update the list original values.

Mozzarella
Cinderell
Salmonella

['mozzarella', 'Cinderell', 'Salmonella']

6. Make a surprise list with the elements Groucho, Chico, and Harpo

In [55]:

surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [60]:
surprise_list[2].lower()

'harpo'

In [81]:
surprise_list[2][::-1]

'opraH'

In [82]:

surprise_list[-1][::-1].upper()

'OPRAH'

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [88]:
e2f = {"dog" : 'chien' , "cat" : 'chat' , "walrus" : 'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [90]:
e2f["walrus"]

'morse'

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [94]:
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

In [95]:
f2e["chien"]

'dog'

12. Make and print a set of English words from the keys in e2f.

In [96]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: animals, plants,and other. Make the animals key refer to another dictionary with the keys cats,octopic, andemus. Make the cats key refer to a list ofstring with the values Henri,Grumpy and LuckyMake all the other keys refer to empty dictionaries.

In [97]:

life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

14. Print the top-level keys of life.

In [98]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

15. Print the keys for life[animals].

In [99]:
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

16. Print the values for life[animals][cats]

In [100]:

life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']